$dusty-gray: #999;
$gallery: #EEEEEE;
$alto: #DDD;
$bittersweet: #FF6F69;
$buttermilk: rgba(255, 238, 173, 0.4);
$light-pink: rgba(255, 206, 213, 0.3);
$pickled-bluewood: #35495E;

$green: #42B983;
$blue: #48B3FF;
$purple: #7708CA;
$pink: #FF057F;
$orange: #FF8B12;
$yellow: #FFCC37;

$calendar-border: 1px solid $alto;

@mixin calendar-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@mixin calendar-cell {
  width: 100%;
  padding: 0.5rem;
}

@mixin color-button($color) {
  background-color: $color;
  border: 1px solid darken($color, 5%);

  &:hover {
    background-color: lighten($color, 4%);
    border: 1px solid $color;
  }
}

@mixin button {
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  border-radius: 2px;
  color: white;
  cursor: pointer;

  &.green  { @include color-button($green);  }
  &.blue   { @include color-button($blue);   }
  &.purple { @include color-button($purple); }
  &.pink   { @include color-button($pink);   }
  &.orange { @include color-button($orange); }
  &.yellow { @include color-button($yellow); }

  &:focus {
    outline: none;
  }
}


@mixin colorize($property, $status: '') {
  &.green#{$status}  { #{$property}: $green;  }
  &.blue#{$status}   { #{$property}: $blue;   }
  &.purple#{$status} { #{$property}: $purple; }
  &.pink#{$status}   { #{$property}: $pink;   }
  &.orange#{$status} { #{$property}: $orange; }
  &.yellow#{$status} { #{$property}: $yellow; }
}
